body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 800px; /* Optional: Keeps it from getting TOO wide on giant monitors */
  margin: 0 auto;   /* This perfectly centers the app on desktop */
}